header {
		text-align: center;
		background: url("http://i.imgur.com/7i5QL5b.jpg");
		background-size: cover;
		background-position: center center;
		color:#FF8000;
	}
	h1 {
		font-family: 'Cedarville Cursive', cursive;
		font-size: 80px;
	}
	h2 {
		font-family: 'Cedarville Cursive', cursive;
		font-size: 35px;
		padding-bottom: 15px
	}
	h3 {
		font-family: 'Cedarville Cursive', cursive;
		font-size: 35px;
	}
	img {
		border: 6px solid black;
		border-radius:;
	}
	article {
		font-family: 'Cedarville Cursive', cursive;
		max-width:500px;
		padding: 10px;
		margin: 0 auto;
		color:rgb(51,25,0);
	}
	@media (max-width: 500px) {
		h1 {
			font-size: 36px;
		}
	}
	p {
		font-size: 25px;
		text-align: center;
	}
	body {
		text-align: center;
		background: url("https://i.imgur.com/6vASd6X.jpg");
		background-size: cover;
		background-position: center;
	}
	.contact {
		background-color: rgba(20,20,20,.3);
		color:#FFE5CC;
	}

	.contact a {
			text-decoration: none;
			color: #99ddff;
	}

	.ET {
		font-family: 'Cedarville Cursive', cursive;
		font-size: 25px;
	}
	.info {
		font-size: 20px;
	}
